/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* global css file here  */
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h5,h6{
    font-family: 'Quicksand', sans-serif;
}  
p,input,span,button{
    font-family: 'Roboto', sans-serif;
}
ul li{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* header part css start here  */
.header{
    width: 100%;
}
.logo{
    margin: 20px;
}

.logo img{
    vertical-align: middle;
}
.logo span{
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    vertical-align: middle;
}
/* header part css end here  */
/* banner css start here  */
.banner{
    width: 100%;
    display: flow-root;
}
.banner-info{
    width: 100%;
    float: left;
}
.banner-left{
    width: 60%;
    float: left;
}
.banner-right{
    width: 40%;
    float: right;
}
.banner-right img{
    width: 100%;
}
.left-content{
    padding: 55px 50px 55px 16px;
}
.left-content h1{
    font-size: 40px;
}
.left-content p{
    color: #4c527d;
    font-size: 22px;
    margin: 24px 0px;
}
.banner-button{
    margin: 15px 0px;
}
.left-content .banner-button button{
    padding: 22px 40px;
    border-radius: 33px;
}
.left-content .banner-button .left-btn{
    color: white;
    background: #ed6524;
    border: 2px solid #ed6524;
    font-size:15px;
    font-weight: 600;
}
.left-content .banner-button .right-btn{
    background: transparent;
    border: 2px solid #ed6524;
    color: #ed6524;
    font-size:15px;
    font-weight: 600;
    margin-left: 20px;
}
.left-content .banner-button .left-btn:hover{
    color: #ed6524;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.left-content .banner-button .right-btn:hover{
    color: white;
    background: #ed6524;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.comment{
    margin: 20px 50px 0px 0px;
}
.comment-box{
    width: 100%;
    padding: 20px 30px;
    background: #f6f8fc;
    border-left: 3px solid #ed6524;
    position: relative;
}
.comment-box p{
    font-size: 18px;
    font-style: italic;
}
.box-icon{
    width: 40px;
    height: 40px;
    background: #f6f8fc;
    transform: rotate(45deg);
    position: absolute;
    left: 20;
    bottom: -20;
}
.comment-user{
    margin: 40px 0px 0px 20px;
}
.user-img{
    width: 15%;
    float: left;
}
.user-data{
    width: 80%;
    float: right;
}
.user-desc{
    padding: 15px 0px;
}
.user-data .user-desc p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
}
.right-content{
    position: relative;
}
.book-circle{
    width: 120px;
    height: 120px;
    background: #5cb377;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: -30px;
}
.book-circle h4{
    color: white;
    text-align: center;
    padding-top: 40px;
}
.book-link{
    text-align: center;
}
.book-link a{
    text-decoration: underline;
    font-size: 21px;
    color: #ed6524;
}
/* banner css end here  */
/* service css start here */
.service{
    width: 100%;
    display: flow-root;
    background-image: linear-gradient(to bottom, #f6f8fc 0%, #fff 70%);
    background-repeat: repeat-x;
    padding: 90px 0px;
    margin-top: 30px;
}
.service-title{
    text-align: center;
}
.service-title h1{
    font-size: 44px;
    margin-bottom: 24px;
}
.service-title p{
    font-size: 22px;
    word-spacing: 5px;
    color: #4c527d;
}
.service-gallery{
    margin-top: 80px;
    width: 100%;
    float: left;
}
.item{
    width: 33%;
    float: left;
}
.item-desc{
    text-align: center;
    padding: 42px;
}
.item-desc i{
    font-size: 45px;
    color: #ed6524;
}
.item-desc h3{
    margin: 10px 0px;
}
/* service css end here */
/* included section start here  */
.included-title h1{
    font-size: 44px;
    margin-bottom: 24px;
    text-align: center;
}
.included-details{
    width: 100%;
    float: left;
}
.included-left{
    width: 40%;
    float: left;
}
.included-right{
    width: 40%;
    float: right;
}
.included-img{
    padding: 80px
}
.list{
    padding: 100px 40px;
}
.included-right ul li{
    line-height: 36px;
    font-size: 22px;
}
.included-right i{
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 20px;
    background: #7fcdb8;
    border-radius: 100%;
    margin-right: 15px;
    color: white;
}
.list button{
    padding: 20px 35px;
    border-radius: 33px;
    color: white;
    background: #ed6524;
    border: 2px solid #ed6524;
    font-size:15px;
    font-weight: 600;
    margin: 30px 20%;
}
/* included section end here  */

/* who section start here  */
.who-section{
    margin-bottom: 50px;
}
.who-title{
    text-align: center;
    margin-bottom: 20px;
}
.who-title h1{
    font-size: 44px;
    margin-bottom: 24px;
}
.who-title p{
    font-size: 22px;
    word-spacing: 5px;
    color: #4c527d;
}
.who-list{
    margin: 0 315px;
    overflow: hidden;
}
.who-icon{
    width: 10%;
    float: left;
    text-align: center;
}
.who-icon i{
    color: #7FCDB8;
    font-size: 23px;
    margin-top: 4px;
}
.who-details{
    width: 90%;
    float: left;
}
.who-details h4{
    color: #1c1e2e;
    font-weight: bold;
    margin-bottom: 7px;
}
.who-details p{
    font-size: 16px;
    color: #6d6d6d;
    margin-bottom: 10px;
}
/* who section end here  */

/* preview section start here  */
.preview-data{
    background: #F6F8FC;
    padding: 50px 22px;
    box-sizing: border-box;
    text-align: center;
    margin: 60px 220px
}
.preview-data h2{
    color: black;
}
.preview-data p{
    margin: 15px 0px;
}
.preview-data .input-1{
    width: 300px;
    height: 45px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 7px;
    margin-right: 7px;
}
.preview-data .input-2{
    width: 100px;
    height: 45px;
    border: 2px solid #ed6524;
    border-radius: 7px;
    background: #ed6524;
    cursor: pointer;
    color: white;
}
/* preview section end here  */

/* review section start here  */
.review-section{
    margin-bottom: 50px;
}
.review-title{
    text-align: center;
    margin-bottom: 20px;
}
.review-title h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.review-title p{
    font-size: 22px;
    word-spacing: 5px;
    color: #4c527d;
}
.review{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.review-box{
    width: 31%;
    height: 200px;
    background: #F6F8FC;
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 40px;
}
.review-text{
    padding-top: 25px;
    padding-left: 5px;
}
.review-text p{
    font-size: 16px;
    font-style: italic;
}
.reviewer{
    width: 100%;
    float: left;
    padding: 20px;
}
.reviewer .reviewer-img{
    width: 20%;
    float: left;
}
.reviewer .reviewer-desc{
    width: 70%;
    float: right;
    padding: 15px 0px 0px 0px;
}
.qout-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F5A782;
    position: absolute;
    right: 50%;
    top: -20px;
}
.qout-box i{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.review-btn{
    margin: 0 auto;
    text-align: center;
}
.review-btn button{
    background: #ed6524;
    width: 150px;
    height: 40px;
    border: 1px solid transparent;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}
/* review section end here  */

/* author section start here  */
.author-section{
    width: 100%;
    background: #ed6524;
}
.author-img img{
    width: 140px;
    margin: 40px 500px 0px 500px;
}
.author-data{
    color: white;
    padding: 40px 150px;
}
.author-data h1{
    font-size: 37px;
    text-align: center;
    margin-bottom: 10px;
}
.author-data h2{
    text-align: center;
    font-size: 23px;
    margin: 20px 0px 10px 0px;
}
.author-data ul{
    margin: 20px 312px;
}
.author-data ul li{
    display: inline-block;
    background: #CA561F;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 0 5px;
    cursor: pointer;
}
.author-data ul li i{
    padding-top: 12px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0px 13px;
}
/* author section  css end here  */
/* Footer section css start here  */
.footer-section{
    height: 60px;
    background: #f1f1f1;
    padding-top: 40px;
}
.footer-section p{
    text-align: center;
}
.footer-section p i{
    color: red;
}
/* Footer section css end here  */
